<create-nomination></create-nomination>

<!-- <ledger></ledger> -->
<!-- <order-items></order-items> -->
<!-- <order-item></order-item> -->
<!-- <nomination-create-step-1></nomination-create-step-1> -->

<!-- <booking></booking> -->

<!-- <div class="main-layout">
  <div class="tab">
    <p-tabView>
      
      <p-tabPanel header="Person">
        
        <div class="tab-content">
          <Form
            [metaData]="personMetaData"
            formLayout="person-layout"
            controllayout="item"
          ></Form>
        </div>

      </p-tabPanel>

      <p-tabPanel header="Payment">
        <div class="tab-content">
          <Form
            [metaData]="paymentMetaData"
            formLayout="payment-layout"
            controllayout="item"
          ></Form>
        </div>
      </p-tabPanel>

    </p-tabView>
  </div>
  <div class="review">This is review</div>
  <div class="additional-info">Additional Info</div>
  <div class="footer">
    <button>Cancel</button>
    <button>Submit</button>
  </div>
</div> -->
