<!-- <select (change)="changeSecurityContext($event)">
  <option>Admin</option>
  <option>User</option>
</select> -->
<div [formGroup]="fg">
  <div class="step1">
    <nomination-create-step-1
      *ngIf="step === 1"
      formControlName="step1"
    ></nomination-create-step-1>
  </div>
  <div class="step2">
    <nomination-create-step-2
      *ngIf="step === 2"
      formControlName="step2"
    ></nomination-create-step-2>
  </div>
  <div class="layout">
    <div class="previous">
      <button
        pButton
        [disabled]="step === 1"
        type="button"
        label="Previous"
        class="p-button-lg"
        (click)="handlePrevious()"
      ></button>
    </div>
    <div class="next">
      <button
        pButton
        type="button"
        class="p-button-lg"
        label="{{ step === 2 ? 'Save' : 'Next' }}"
        (click)="handleNext()"
      ></button>
    </div>
  </div>
</div>
<!-- {{ fg.value | json }} -->
